# Ansible
ansible/inventory/hosts.ini

# Go
bin/
*.exe
*.test
coverage.out

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db

# Logs
*.log

# Environment
.env
.env.*

# Terraform
*.tfstate
*.tfstate.*
.terraform/
